// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$nav: #3F3F37;
$color1:#d9e0e6;;
$color2:#ffffff;


$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #141414;


//mixins 


$cartao-largura: 260px;
@mixin scroll($height) {

    @if $height>540px {
        $cartao-largura:250px;
    }

}