@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0, auto;
    color: $black;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color:$color2;  
    user-select: none;     
}

.container{
    max-width:1200px;
    
}

h3{
    font-weight: bold;
}
.nav{
    background-color: $nav;
    height: 80px;
    padding-left:10px;
    padding-right:10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    -webkit-box-shadow: -3px 11px 11px -13px #000000; 
    box-shadow: -8px 5px 5px -7px #000000;
    
}

.pic-img{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left:5px;
}
.text-end{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img{
    height:80px;
    display: flex;
    align-items: center;
    .logo{
        object-fit: cover;
        height:60%;
    }
}


.btn{
    background-color: $indigo;
}

.h{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .home{
        color:white;
        &:hover{
            color: gray;
        }
    }
}
.main-row{
    height: 100vh;
}

.seus-quadros{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.quadros{
    min-width: 250px;
    max-width: 250px;
    min-height: 150px;
    display:inline-block;
    justify-content: center;
    background-color: $color1;
    -webkit-box-shadow: -3px 11px 11px -13px #000000; 
    box-shadow: -3px 11px 11px -13px #000000;
    opacity: 1;

    &:hover{
        background-color: $color2;
        cursor:pointer;
        transition: 0.3s;
    }


    .title{
        display: flex;
            align-items: flex-end;
            height:100%;
        .nome{
            
            padding:10px;
            font-size: large;
        }
    }

    
}


.add{
    .add-quadro{
        display:flex;
        align-items: center;
        justify-content: center;
        width:50px;
        height: 50px;
        background-color: $color1;
        -webkit-box-shadow: -3px 11px 11px -13px #000000; 
        box-shadow: -3px 11px 11px -13px #000000;
        opacity: 1;
        border-radius: 50%;
        margin-left:110px;
        &:hover{
            background-color: $color2;
            cursor:pointer;
        }
        
        
        
    }
}
.main-row{
    padding: 20px;
    color: black;
}

.title{
    height:60px;
}

.footer{
    display: flex ;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50px;
    border-top:1px solid rgba(0, 0, 0, 0.267);
    background: $nav;
    p{
        font-size: 12pt;
        color:rgba(134, 134, 134, 0.897);
    }
}


.container-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;   

    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width:50%;   
        height:100%;
        border:1px solid lightgrey;
        div{
            margin:15px;
        }

        .picture{
            height:230px;
            width:230px;
            border-radius: 50%;

            img{
                height:100%;
                width:100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .name, .user, .email{
            height:50px;
            width: 40%;
            border-bottom:1px solid grey;
            background-color: white;
            padding:5px;
            font-size:large;
        }
        .label{
            margin:0;   
            font-size:small;
            color: grey;
        }
        .edit{
            background: lightgrey;
            border-radius: 4px;
            
            :hover{
                background: rgb(163, 163, 163);
                transition:0.2s;
            }
        }
        
    }
}

.q{
    height:91.7vh;
    width:100%;
    background: $color2;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: center;

}
.head{
    height:40px;
}
.quadro{
    margin-top: 15px;
   .box{
        width:280px;
        min-height: 70px;
        max-height: 619.85px;
        margin:8px;
        padding-bottom: 10px;
        border-radius: 4px;
        background: $color1;
        -webkit-box-shadow: -3px 11px 11px -13px #000000; 
        box-shadow: -3px 11px 11px -13px #000000;
        
        .cartoes{
            max-height: 540px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .title{
            display: inline-block;
            height: 25px;
            width:80%;
            margin:0 10px;
            margin-top:10px;
            font-size: 11pt;
            font-weight: bold;
            color:$nav;
        }
        .dots{
            padding:5px;
            &:hover{
                background-color:$color2;
            }
        }
        .cartao{
            height:100px;
            width: $cartao-largura;
            margin:8px;
            border-radius:4px;
            background: white;
            -webkit-box-shadow: 0px 8px 10px -11px #000000; 
            box-shadow: 0px 4px 10px -15px #000000;

            .note{
                margin:5px;
            }
        }
        .add{
            height: 25px;
            width: 260px;
            text-align: center;
            margin:8px;
            font-size: 11pt;
            color:$nav;
            border-radius: 4px;
            border:0px;
            &:hover{
                background:$color2;
                cursor:pointer;
            }
        }
        .add-quadro{
            height: 25px;
            width: 260px;
            text-align: center;
            margin:8px;
            font-size: 11pt;
            color:$nav;
            border-radius: 4px;
            font-weight: bold;
            &:hover{
                background:$color2;
                cursor:pointer;
            }
        }
   }
}



//scrollbar
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 2px;
    margin-top:10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.555); 
    border-radius: 2px;
  }
  
  