@import 'variables';
*{
    margin:0, auto;
    color: $black;
    font-family: 'Montserrat', sans-serif;
}
body{
    background:$body-bg;       
}

.container{
    max-width:1200px;
}

h3{
    font-weight: bold;
}
.nav{
    background-color: $body-bg;
    padding-left:10px;
    padding-right:10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    -webkit-box-shadow: -3px 11px 11px -13px #000000; 
    box-shadow: -8px 5px 5px -7px #000000;
    
}
.btn{
    background-color: $indigo;
}
.main-row{
    height: 90vh;
}

.quadros{
    min-width: 250px;
    max-width: 250px;
    min-height: 150px;
    display:inline-block;
    background-color: $cyan;
    -webkit-box-shadow: -3px 11px 11px -13px #000000; 
    box-shadow: -3px 11px 11px -13px #000000;
    opacity: 1;

    &:hover{
        background-color: rgba(109, 106, 106, 0.205);
        cursor:pointer;
    }
}
.main-row{
    padding: 20px;
    color: black;
}

.title{
    height:60px;
}

.footer{
    display: flex ;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50px;
    border-top:1px solid rgba(0, 0, 0, 0.267);
    
    p{
        font-size: 12pt;
        color:rgba(134, 134, 134, 0.897);
    }
}


.container-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;

    .profile{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width:50%;   
        height:100%;
        border:1px solid lightgrey;
        div{
            margin:15px;
        }

        .picture{
            height:230px;
            width:230px;
            border-radius: 50%;

            img{
                height:100%;
                width:100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .name, .user{
            height:50px;
            width: 40%;
            border-bottom:1px solid grey;
            background-color: white;
            padding:5px;
            font-size:large;
        }
        .label{
            margin:0;   
            font-size:small;
            color: grey;
        }
        .edit{
            background: lightgrey;
            border-radius: 4px;
            
            :hover{
                background: rgb(163, 163, 163);
                transition:0.2s;
            }
        }
        
    }
}
